:root {
  --color-bg: #ffffff;
  --color-bg-hover: #f7f7f7;
  --color-fg: #1c1c1c;
  --color-fg-hover: #2d2d2d;
  --color-inactive: rgba(28, 28, 28, 0.4);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-fg);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  padding: 0px 20px 0px;
  color: var(--color-fg);
  background: var(--color-bg);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
